### Getting additional informations on universites

In [1]:
import pandas as pd
import json

In [2]:
data = dict()
with open("../times_uni_ranking.json","r", encoding="utf-8") as f:
    data = json.load(f)

In [3]:
df = pd.DataFrame(data["data"])
df.head(5)

,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,...,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,disabled,apply_link,cta_button
0,10,1,University of Oxford,98.5,10,96.8,5,100.0,1,98.8,...,10.8,43%,51 : 49,University of Oxford,"Computer Science,Languages, Literature & Lingu...",False,False,False,https://www.timeshighereducation.com/student/r...,{'link': 'https://www.timeshighereducation.com...
1,20,2,Massachusetts Institute of Technology,98.1,20,99.2,1,96.0,11,99.7,...,8.0,33%,42 : 58,Massachusetts Institute of Technology,"Biological Sciences,Electrical & Electronic En...",False,False,False,https://www.timeshighereducation.com/student/r...,{'link': 'https://www.timeshighereducation.com...
2,30,3,Harvard University,97.7,30,97.3,4,99.9,2,99.3,...,10.0,25%,52 : 48,Harvard University,"Archaeology,Mathematics & Statistics,Art, Perf...",False,False,False,https://www.timeshighereducation.com/student/r...,{'link': 'https://www.timeshighereducation.com...
3,40,4,Princeton University,97.5,40,98.3,2,98.0,6,98.9,...,7.8,23%,47 : 53,Princeton University,"Chemistry,Languages, Literature & Linguistics,...",False,False,False,https://www.timeshighereducation.com/student/r...,{'link': 'https://www.timeshighereducation.com...
4,50,5,University of Cambridge,97.4,50,95.9,6,99.9,3,97.6,...,11.5,38%,49 : 51,University of Cambridge,"History, Philosophy & Theology,Biological Scie...",False,False,False,https://www.timeshighereducation.com/student/r...,{'link': 'https://www.timeshighereducation.com...

In [4]:
df.columns

Index(['rank_order', 'rank', 'name', 'scores_overall', 'scores_overall_rank',
       'scores_teaching', 'scores_teaching_rank', 'scores_research',
       'scores_research_rank', 'scores_citations', 'scores_citations_rank',
       'scores_industry_income', 'scores_industry_income_rank',
       'scores_international_outlook', 'scores_international_outlook_rank',
       'record_type', 'member_level', 'url', 'nid', 'location',
       'stats_number_students', 'stats_student_staff_ratio',
       'stats_pc_intl_students', 'stats_female_male_ratio', 'aliases',
       'subjects_offered', 'closed', 'unaccredited', 'disabled', 'apply_link',
       'cta_button'],
      dtype='object')

In [5]:
df[(df["record_type"]=="master_account" )& (df["location"]=="United States")]

,rank_order,rank,name,scores_overall,scores_overall_rank,scores_teaching,scores_teaching_rank,scores_research,scores_research_rank,scores_citations,...,stats_student_staff_ratio,stats_pc_intl_students,stats_female_male_ratio,aliases,subjects_offered,closed,unaccredited,disabled,apply_link,cta_button
85,860,=84,University of Massachusetts,68.0,860,58.6,79,52.1,125,87.9,...,12.8,14%,51 : 49,University of Massachusetts,"Law,Business & Management,Politics & Internati...",False,False,False,https://www.timeshighereducation.com/student/r...,NaN
315,3160,301–350,Oregon Health and Science University,51.1–53.6,3160,39.0,342,21.2,822,91.6,...,0.9,3%,69 : 31,Oregon Health and Science University,"Psychology,Chemistry,Biological Sciences,Other...",False,False,False,https://www.timeshighereducation.com/student/r...,NaN
397,3980,351–400,University of South Florida,49.4–51.0,3980,32.2,619,35.5,354,73.5,...,19.3,14%,None,University of South Florida,"Languages, Literature & Linguistics,Sport Scie...",False,False,False,NaN,NaN
465,4660,401–500,"University of California, Merced",46.0–49.2,4660,29.0,809,24.0,687,86.6,...,19.7,8%,48 : 52,"University of California, Merced","Chemistry,Other Health,Art, Performing Arts & ...",False,False,False,https://www.timeshighereducation.com/student/r...,NaN
558,5590,501–600,Rush University,43.3–45.9,5590,44.0,224,15.4,1177,78.7,...,2.5,1%,75 : 25,Rush University,"Other Health,Medicine & Dentistry,Biological S...",False,False,False,https://www.timeshighereducation.com/student/r...,NaN
585,5860,501–600,University of Nebraska Medical Center,43.3–45.9,5860,37.4,386,16.3,1110,78.8,...,2.0,7%,70 : 30,University of Nebraska Medical Center,"Biological Sciences,Other Health,Politics & In...",False,False,False,https://www.timeshighereducation.com/student/r...,NaN
1465,14660,1201–1500,University of Texas Rio Grande Valley,25.2–30.6,14660,18.2,1681,9.3,1920,45.8,...,20.4,3%,61 : 39,University of Texas Rio Grande Valley,"Civil Engineering,Chemistry,Politics & Interna...",False,False,False,https://www.timeshighereducation.com/student/r...,NaN
2502,1000411,Reporter,Northeast Ohio Medical University,n/a,1000411,n/a,0,n/a,0,n/a,...,9.2,0%,53 : 47,Northeast Ohio Medical University,"Medicine & Dentistry,Other Health,Biological S...",False,False,False,NaN,NaN
2640,1000549,Reporter,The Continents States University,n/a,1000549,n/a,0,n/a,0,n/a,...,None,None,None,The Continents States University,"History, Philosophy & Theology,Other Health,Ac...",False,False,False,NaN,NaN
2834,1000743,Reporter,Westcliff University,n/a,1000743,n/a,0,n/a,0,n/a,...,12.0,85%,44 : 56,Westcliff University,"Business & Management,Accounting & Finance,Lan...",False,False,False,https://www.timeshighereducation.com/student/r...,NaN

In [6]:
uni_df = df[["rank","name","aliases","location","scores_citations","scores_research","scores_teaching","stats_number_students","stats_pc_intl_students","subjects_offered","url"]]

In [7]:
uni_df = uni_df[(uni_df["location"] == "United States") & (uni_df["subjects_offered"].str.contains("Computer Science", na=False))]
uni_df.reset_index(drop=True, inplace=True)

In [10]:
uni_df["url"] = "https://www.timeshighereducation.com" + uni_df["url"]

In [15]:
uni_df.to_csv("times_uni_ranking_cs_us.csv", index=False)
uni_df.head(5)

,rank,name,aliases,location,scores_citations,scores_research,scores_teaching,stats_number_students,stats_pc_intl_students,subjects_offered,url
0,2,Massachusetts Institute of Technology,Massachusetts Institute of Technology,United States,99.7,96.0,99.2,"11,836",33%,"Biological Sciences,Electrical & Electronic En...",https://www.timeshighereducation.com/world-uni...
1,3,Harvard University,Harvard University,United States,99.3,99.9,97.3,"22,584",25%,"Archaeology,Mathematics & Statistics,Art, Perf...",https://www.timeshighereducation.com/world-uni...
2,4,Princeton University,Princeton University,United States,98.9,98.0,98.3,"8,378",23%,"Chemistry,Languages, Literature & Linguistics,...",https://www.timeshighereducation.com/world-uni...
3,6,Stanford University,Stanford University,United States,99.6,97.3,97.5,"16,963",23%,"Civil Engineering,Politics & International Stu...",https://www.timeshighereducation.com/world-uni...
4,7,California Institute of Technology,California Institute of Technology caltech,United States,97.3,97.5,95.2,"2,397",32%,"Biological Sciences,History, Philosophy & Theo...",https://www.timeshighereducation.com/world-uni...

In [12]:
uni_df["url"].to_csv("us_uni_urls.csv", index=False)

In [13]:
import requests
from bs4 import BeautifulSoup
url = uni_df["url"][0]


headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3",
    "Accept": "application/json",
    "Referer": "https://www.timeshighereducation.com/world-university-rankings/2025/world-ranking",

}

response = requests.get(url,headers=headers, timeout=10)
response.raise_for_status()
soup = BeautifulSoup(response.text, 'html.parser')

location_tag = soup.find("div",class_="css-9zlu29")
description_tag = soup.find(class_="css-1xxxan3")

In [14]:
location_tag.get_text(strip=True)

'Cambridge, United States'

In [20]:
#script to get the location and brief of each university using bs4
import pandas as pd
import requests
from bs4 import BeautifulSoup

csv_file = "us_uni_urls.csv"
df = pd.read_csv(csv_file)

#CSS selectors location and description
LOCATION_CSS_CLASS = "css-9zlu29"  
DESCRIPTION_CSS_CLASS = "css-1xxxan3"  

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3",
    "Accept": "application/json",
    "Referer": "https://www.timeshighereducation.com/world-university-rankings/2025/world-ranking",

}

def get_university_info(url):
    try:
        response = requests.get(url,headers=headers, timeout=10)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')
        
        location_tag = soup.find('div', class_="css-9zlu29")
        description_tag = soup.find(class_=DESCRIPTION_CSS_CLASS)
        
        location = location_tag.get_text(strip=True) if location_tag else "N/A"
        description = description_tag.get_text(strip=True) if description_tag else "N/A"
        
        return location, description
    except requests.exceptions.RequestException as e:
        print(f"Error fetching {url}: {e}")
        return "N/A", "N/A"


data = []

for url in df.iloc[:, 0]: 
    location, description = get_university_info(url)
    data.append([url, location, description])

# Create DataFrame and save results
result_df = pd.DataFrame(data, columns=["URL", "Location", "Description"])
result_df.to_csv("university_info.csv", index=False)

print("Scraping completed. Data saved to university_info.csv.")

Error fetching https://www.timeshighereducation.com/world-university-rankings/william-mary: 404 Client Error: Not Found for url: https://www.timeshighereducation.com/world-university-rankings/william-mary
Error fetching https://www.timeshighereducation.com/world-university-rankings/new-school: HTTPSConnectionPool(host='www.timeshighereducation.com', port=443): Max retries exceeded with url: /world-university-rankings/new-school (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x72faa0dadd10>, 'Connection to www.timeshighereducation.com timed out. (connect timeout=10)'))
Scraping completed. Data saved to university_info.csv.

In [26]:
#combining two dataframes on url
df1  = pd.read_csv("times_uni_ranking_cs_us.csv")
df2 = pd.read_csv("university_info.csv")

df = pd.merge(df1, df2, left_on="url", right_on="URL")

In [27]:
df.drop(columns=["location","url"], inplace=True)

In [29]:
df.to_csv("times_uni_with_desc.csv", index=False)

In [30]:
df["name"].to_csv("us_uni_names.csv", index=False)

### Getting the urls and short descriptions

In [31]:
#script to get the university urls using google serp api and retrieveing the first result by searching by name from the us_uni_names.csv dataset
import pandas as pd
import requests
import time
import os
# Constants
  # Replace with your actual SERP API key
API_KEY = os.getenv("SERP_API_KEY")
SERP_API_URL = "https://serpapi.com/search"
CSV_FILE = "us_uni_names.csv"
OUTPUT_FILE = "university_urls.csv"

def get_university_url(query: str) -> str:
    """Fetches the first search result URL for a given university name."""
    params = {
        "engine": "google",
        "q": query,
        "api_key": API_KEY,
        "num": 1  # Get only the first result
    }
    response = requests.get(SERP_API_URL, params=params)
    if response.status_code == 200:
        data = response.json()
        if "organic_results" in data and data["organic_results"]:
            return data["organic_results"][0]["link"]  # Extract first result URL
    return "Not Found"

In [32]:
df = pd.read_csv(CSV_FILE)
    
if "name" not in df.columns:
    print("Error: 'name' column not found in CSV file.")

df["uni_url"] = df["name"].apply(get_university_url)
df.to_csv(OUTPUT_FILE, index=False)
print(f"Results saved to {OUTPUT_FILE}")

Results saved to university_urls.csv

In [33]:
#merge times_uni_with_desc.csv and university_urls.csv
df1 = pd.read_csv("times_uni_with_desc.csv")
df2 = pd.read_csv("university_urls.csv")

df = pd.merge(df1, df2, left_on="name", right_on="name")

In [35]:
df.head()

,rank,name,aliases,scores_citations,scores_research,scores_teaching,stats_number_students,stats_pc_intl_students,subjects_offered,URL,Location,Description,uni_url
0,2,Massachusetts Institute of Technology,Massachusetts Institute of Technology,99.7,96.0,99.2,"11,836",33%,"Biological Sciences,Electrical & Electronic En...",https://www.timeshighereducation.com/world-uni...,"Cambridge, United States",The Massachusetts Institute of Technology (MIT...,https://www.mit.edu/
1,3,Harvard University,Harvard University,99.3,99.9,97.3,"22,584",25%,"Archaeology,Mathematics & Statistics,Art, Perf...",https://www.timeshighereducation.com/world-uni...,"Cambridge, United States","Dating back to 1636, Harvard University is the...",https://www.harvard.edu/
2,4,Princeton University,Princeton University,98.9,98.0,98.3,"8,378",23%,"Chemistry,Languages, Literature & Linguistics,...",https://www.timeshighereducation.com/world-uni...,"Princeton, United States",Princeton is one of the oldest universities in...,https://www.princeton.edu/
3,6,Stanford University,Stanford University,99.6,97.3,97.5,"16,963",23%,"Civil Engineering,Politics & International Stu...",https://www.timeshighereducation.com/world-uni...,"Stanford, United States",Stanford University has one of the largest cam...,https://www.stanford.edu/
4,7,California Institute of Technology,California Institute of Technology caltech,97.3,97.5,95.2,"2,397",32%,"Biological Sciences,History, Philosophy & Theo...",https://www.timeshighereducation.com/world-uni...,"Pasadena, United States",The California Institute of Technology (Caltec...,https://www.caltech.edu/

In [36]:
df.drop(columns= ["URL"], inplace=True)

In [37]:
df.to_csv("uni_with_description.csv", index=False)

In [38]:
df

,rank,name,aliases,scores_citations,scores_research,scores_teaching,stats_number_students,stats_pc_intl_students,subjects_offered,Location,Description,uni_url
0,2,Massachusetts Institute of Technology,Massachusetts Institute of Technology,99.7,96.0,99.2,"11,836",33%,"Biological Sciences,Electrical & Electronic En...","Cambridge, United States",The Massachusetts Institute of Technology (MIT...,https://www.mit.edu/
1,3,Harvard University,Harvard University,99.3,99.9,97.3,"22,584",25%,"Archaeology,Mathematics & Statistics,Art, Perf...","Cambridge, United States","Dating back to 1636, Harvard University is the...",https://www.harvard.edu/
2,4,Princeton University,Princeton University,98.9,98.0,98.3,"8,378",23%,"Chemistry,Languages, Literature & Linguistics,...","Princeton, United States",Princeton is one of the oldest universities in...,https://www.princeton.edu/
3,6,Stanford University,Stanford University,99.6,97.3,97.5,"16,963",23%,"Civil Engineering,Politics & International Stu...","Stanford, United States",Stanford University has one of the largest cam...,https://www.stanford.edu/
4,7,California Institute of Technology,California Institute of Technology caltech,97.3,97.5,95.2,"2,397",32%,"Biological Sciences,History, Philosophy & Theo...","Pasadena, United States",The California Institute of Technology (Caltec...,https://www.caltech.edu/
...,...,...,...,...,...,...,...,...,...,...,...,...
169,Reporter,"California State University, Chico","California State University, Chico",NaN,NaN,NaN,"12,496",2%,"Business & Management,Mathematics & Statistics...","Chico, United States","California State University, Chico is a public...",\thttps://www.csuchico.edu
170,Reporter,Humboldt State University,Humboldt State University,NaN,NaN,NaN,"5,280",1%,"Mathematics & Statistics,Psychology,Art, Perfo...","Arcata, United States",Humboldt State University is a public universi...,\thttps://www.humboldt.edu
171,Reporter,University of North Carolina Wilmington,University of North Carolina Wilmington,NaN,NaN,NaN,"15,689",1%,"Communication & Media Studies,Psychology,Physi...","Wilmington, United States","Billing itself as ""the state’s coastal univers...",\thttps://uncw.edu
172,Reporter,Westcliff University,Westcliff University,NaN,NaN,NaN,"4,482",85%,"Business & Management,Accounting & Finance,Lan...","CA, United States",Westcliff University was established in 1993 t...,\thttps://www.westcliff.edu
173,Reporter,West Virginia University,West Virginia University,NaN,NaN,NaN,"23,865",5%,"General Engineering,Sport Science,Geography,Ag...","Morgantown, United States",Choosing West Virginia University (WVU) means ...,\thttps://www.wvu.edu

In [42]:
import pandas as pd
from langchain_groq import ChatGroq
from langchain.schema import SystemMessage, HumanMessage

# Set up Groq API
groq_api_key = os.getenv("GROQ_API_KEY")  # Replace with your actual Groq API key
llm = ChatGroq(model="llama-3.3-70b-versatile", temperature=0.7, groq_api_key=groq_api_key)

response = llm.invoke([SystemMessage(content="You are an expert education consultant"), HumanMessage(content="What is graduate studies?")])

In [43]:
response.content

"As an education consultant, I'd be happy to explain what graduate studies are.\n\nGraduate studies, also known as postgraduate studies, refer to advanced academic programs that individuals pursue after completing their undergraduate degree (bachelor's degree). These programs are designed to provide specialized knowledge, skills, and training in a specific field or discipline, leading to a higher degree, such as a master's or doctoral degree.\n\nThe primary goals of graduate studies are:\n\n1. **Advanced knowledge**: To gain in-depth knowledge and expertise in a specific field or discipline.\n2. **Specialization**: To develop specialized skills and competencies that can be applied in a particular profession or industry.\n3. **Research and scholarship**: To engage in original research, critical thinking, and scholarly activities that contribute to the advancement of knowledge in a field.\n4. **Career advancement**: To enhance career prospects, increase earning potential, and gain a competitive edge in the job market.\n\nTypes of graduate degrees:\n\n1. **Master's degree**: A postgraduate degree that typically takes 1-2 years to complete, such as a Master of Arts (MA), Master of Science (MS), or Master of Business Administration (MBA).\n2. **Doctoral degree**: A terminal degree that can take 3-6 years or more to complete, such as a Doctor of Philosophy (Ph.D.) or a professional doctoral degree like a Juris Doctor (J.D.) or Doctor of Medicine (M.D.).\n3. **Certificate programs**: Short-term, specialized programs that provide advanced training in a specific area, often taken in addition to a master's or doctoral degree.\n4. **Postdoctoral research**: Temporary research positions that allow individuals to further develop their research skills and expertise after completing their doctoral degree.\n\nGraduate studies can be pursued in various fields, including but not limited to:\n\n* Arts and humanities\n* Social sciences\n* Natural sciences\n* Engineering\n* Business and management\n* Health sciences\n* Education\n\nOverall, graduate studies offer individuals the opportunity to deepen their knowledge, develop advanced skills, and enhance their career prospects in their chosen field."

In [2]:
import pandas as pd
df = pd.read_csv("uni_with_description.csv")  # Ensure your CSV is correctly formatted

In [5]:
for i in range(4):
    x = df.iloc[i,:]
    print(type(x))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

### Adding Extended Descriptions

In [9]:
temp_df = df.copy()

In [38]:
def expand_description(row):
    """Uses Groq LLM via LangChain to generate a detailed university description."""
    prompt = f"""
    Provide a detailed description for {row['name']} located in {row['Location']}.
    This university is ranked {row['rank']} globally.

    Key information:
    - Citations Score: {row['scores_citations']}
    - Research Score: {row['scores_research']}
    - Teaching Score: {row['scores_teaching']}
    - Student Population: {row['stats_number_students']}
    - International Students: {row['stats_pc_intl_students']}
    - Subjects Offered: {row['subjects_offered']}

    Write the response in a **formal and informative tone**, focusing on academic excellence, campus life, global reputation, and research impact.
    """
    print("Processing:")
    x  = list(row)
    x.append("New description")

    return x

# Apply function to expand descriptions
# temp_df["expanded_description"] = df.apply(expand_description, axis=1)

In [24]:
list(temp_df.iloc[0,:])

['2',
 'Massachusetts Institute of Technology',
 'Massachusetts Institute of Technology',
 99.7,
 96.0,
 99.2,
 '11,836',
 '33%',
 'Biological Sciences,Electrical & Electronic Engineering,Languages, Literature & Linguistics,Economics & Econometrics,Psychology,Art, Performing Arts & Design,Physics & Astronomy,Mechanical & Aerospace Engineering,Sociology,Communication & Media Studies,Mathematics & Statistics,Architecture,General Engineering,Civil Engineering,Chemical Engineering,History, Philosophy & Theology,Geology, Environmental, Earth & Marine Sciences,Archaeology,Other Health,Chemistry,Politics & International Studies (incl Development Studies),Computer Science,Business & Management',
 'Cambridge, United States',
 'The Massachusetts Institute of Technology (MIT) is an independent, coeducational, private research university based in the city of Cambridge, Massachusetts.\\n\\nEstablished in 1861, MIT aims to ‘further knowledge and prepare students in science, technology and other fields of study that will best benefit the nation and the world today’. Its motto is Mens et Manus, which translates as “Mind and Hand”.\\n\\nThe university lays claim to 85 Nobel Laureates, 58 National Medal of Science winners, 29 National Medal of Technology and Innovation winners and 45 MacArthur Fellows. Among its impressive alumni is Kofi Annan, former secretary-general of the United Nations.\\n\\nScientific discoveries and technological advances accredited to MIT include the first chemical synthesis of penicillin, the development of radar, the discovery of quarks, and the invention of magnetic core memory, which enabled the development of digital computers.\\n\\nMIT is currently organised into five different schools: architecture and planning, engineering, humanities, arts and social sciences, management and science.\\n\\nIt is home to around 1,000 faculty members and over 11,000 undergraduate and graduate students. MIT’s current areas of research include digital learning, sustainable energy, Big Data, human health and much more.\\n\\nIn addition to its emphasis on innovation and entrepreneurship, MIT also boasts a diverse and vibrant campus environment with a wide array of student groups. The campus is arranged over 168 acres within Cambridge, and features 18 student residences, 26 acres of playing fields, 20 gardens and green-space areas, as well as over 100 public works of art.\\n\\nMIT estimates that all its living alumni have between them launched more than 30,000 active companies, created 4.6 million jobs and generated roughly $1.9 trillion in annual revenue.\\n\\nTaken together, this ‘MIT Nation’ is equivalent, they say, to the 10th-largest economy in the world.',
 'https://www.mit.edu/']

In [48]:
x =list(temp_df.columns)
x.append("New description")
print(x)

['rank', 'name', 'aliases', 'scores_citations', 'scores_research', 'scores_teaching', 'stats_number_students', 'stats_pc_intl_students', 'subjects_offered', 'Location', 'Description', 'uni_url', 'New description']

In [49]:

new_df

Empty DataFrame
Columns: [rank, name, aliases, scores_citations, scores_research, scores_teaching, stats_number_students, stats_pc_intl_students, subjects_offered, Location, Description, uni_url, New description]
Index: []

In [50]:
columns =list(temp_df.columns)
columns.append("New description")
new_df = pd.DataFrame(columns=columns)
for i in range(5):
    x = expand_description(temp_df.iloc[i,:])
    new_df.loc[len(new_df)] = x

<class 'pandas.core.series.Series'>
<class 'list'>
['2', 'Massachusetts Institute of Technology', 'Massachusetts Institute of Technology', 99.7, 96.0, 99.2, '11,836', '33%', 'Biological Sciences,Electrical & Electronic Engineering,Languages, Literature & Linguistics,Economics & Econometrics,Psychology,Art, Performing Arts & Design,Physics & Astronomy,Mechanical & Aerospace Engineering,Sociology,Communication & Media Studies,Mathematics & Statistics,Architecture,General Engineering,Civil Engineering,Chemical Engineering,History, Philosophy & Theology,Geology, Environmental, Earth & Marine Sciences,Archaeology,Other Health,Chemistry,Politics & International Studies (incl Development Studies),Computer Science,Business & Management', 'Cambridge, United States', 'The Massachusetts Institute of Technology (MIT) is an independent, coeducational, private research university based in the city of Cambridge, Massachusetts.\\n\\nEstablished in 1861, MIT aims to ‘further knowledge and prepare students in science, technology and other fields of study that will best benefit the nation and the world today’. Its motto is Mens et Manus, which translates as “Mind and Hand”.\\n\\nThe university lays claim to 85 Nobel Laureates, 58 National Medal of Science winners, 29 National Medal of Technology and Innovation winners and 45 MacArthur Fellows. Among its impressive alumni is Kofi Annan, former secretary-general of the United Nations.\\n\\nScientific discoveries and technological advances accredited to MIT include the first chemical synthesis of penicillin, the development of radar, the discovery of quarks, and the invention of magnetic core memory, which enabled the development of digital computers.\\n\\nMIT is currently organised into five different schools: architecture and planning, engineering, humanities, arts and social sciences, management and science.\\n\\nIt is home to around 1,000 faculty members and over 11,000 undergraduate and graduate students. MIT’s current areas of research include digital learning, sustainable energy, Big Data, human health and much more.\\n\\nIn addition to its emphasis on innovation and entrepreneurship, MIT also boasts a diverse and vibrant campus environment with a wide array of student groups. The campus is arranged over 168 acres within Cambridge, and features 18 student residences, 26 acres of playing fields, 20 gardens and green-space areas, as well as over 100 public works of art.\\n\\nMIT estimates that all its living alumni have between them launched more than 30,000 active companies, created 4.6 million jobs and generated roughly $1.9 trillion in annual revenue.\\n\\nTaken together, this ‘MIT Nation’ is equivalent, they say, to the 10th-largest economy in the world.', 'https://www.mit.edu/', 'New description']
<class 'pandas.core.series.Series'>
<class 'list'>
['3', 'Harvard University', 'Harvard University', 99.3, 99.9, 97.3, '22,584', '25%', 'Archaeology,Mathematics & Statistics,Art, Performing Arts & Design,Psychology,Other Health,Chemistry,Economics & Econometrics,Biological Sciences,Accounting & Finance,Physics & Astronomy,Medicine & Dentistry,Communication & Media Studies,Civil Engineering,Mechanical & Aerospace Engineering,Law,History, Philosophy & Theology,Geography,Education,Computer Science,General Engineering,Politics & International Studies (incl Development Studies),Languages, Literature & Linguistics,Business & Management,Architecture,Sociology,Geology, Environmental, Earth & Marine Sciences,Electrical & Electronic Engineering,Agriculture & Forestry', 'Cambridge, United States', 'Dating back to 1636, Harvard University is the oldest university in the US and is regarded as one of the most prestigious in the world.It was named after its first benefactor, John Harvard, who left his library and half his estate to the institution when he died in 1638.The private Ivy League institution has connections to more than 45 Nobel laureates, over 30 heads of state and 48 Pulitzer prizewinners. It has more than 323,000 living alumni, including over 271,000 in the US and nearly 52,000 in 201 other countries. Thirteen US presidents have honorary degrees from the institution; the most recent of these was awarded to John F. Kennedy in 1956.Faculty members who have been awarded a Nobel prize in recent years include chemist Martin Karplus and economist Alvin Roth, while notable alumni who were given the honour include former US vice-president Al Gore, who won the Peace Prize in 2007, and poet Seamus Heaney, who was a professor at Harvard from 1981 to 1997.Situated in Cambridge, Massachusetts, Harvard’s 5,000-acre campus houses 12 degree-granting schools in addition to the Radcliffe Institute for Advanced Study, two theatres and five museums. It is also home to the largest academic library in the world, with 20.4 million volumes, 180,000 serial titles, an estimated 400 million manuscript items, 10 million photographs, 124 million archived web pages and 5.4 terabytes of born-digital archives and manuscripts.There are more than 400 student organisations on campus, and Harvard’s medical school is connected to 10 hospitals.The university receives one of the largest financial endowments of any higher education institution in the world; it created $1.5 billion in the fiscal year ended June 2013 – more than a third of Harvard’s total operating revenue in that year.Harvard’s official colour is crimson, following a vote in 1910, after two student rowers provided crimson scarves to their teammates so that spectators could differentiate the university’s team during a regatta in 1858.', 'https://www.harvard.edu/', 'New description']
<class 'pandas.core.series.Series'>
<class 'list'>
['4', 'Princeton University', 'Princeton University', 98.9, 98.0, 98.3, '8,378', '23%', 'Chemistry,Languages, Literature & Linguistics,Mechanical & Aerospace Engineering,Sociology,Chemical Engineering,Economics & Econometrics,General Engineering,Geology, Environmental, Earth & Marine Sciences,Computer Science,Mathematics & Statistics,Other Health,Biological Sciences,History, Philosophy & Theology,Agriculture & Forestry,Electrical & Electronic Engineering,Politics & International Studies (incl Development Studies),Art, Performing Arts & Design,Physics & Astronomy,Architecture,Civil Engineering,Psychology', 'Princeton, United States', 'Princeton is one of the oldest universities in the US and is regarded as one of the world’s most illustrious higher education institutions.Founded in 1746 as the College of New Jersey, it was officially renamed Princeton University in 1896 in honour of the area where it is based, opening its famous graduate school in 1900.Acclaimed for its commitment to teaching, the Ivy League institution offers residential accommodation to all of its undergraduates across all four years of study, with 98 per cent of undergraduates living on campus.Its student body is relatively small, with fewer than 10,000 in total, and international students make up 12 per cent of undergraduates.Princeton is also one of the world’s foremost research universities with connections to more than 40 Nobel laureates, 17 winners of the National Medal of Science and five recipients of the National Humanities Medal.Faculty members who have been awarded a Nobel prize in recent years include chemists Tomas Lindahl and Osamu Shimomura, economists Paul Krugman and Angus Deaton and physicists Arthur McDonald and David Gross.Notable alumni who have won a Nobel prize include the physicists Richard Feynman and Robert Hofstadter and chemists Richard Smalley and Edwin McMillan.Princeton has also educated two US presidents, James Madison and Woodrow Wilson, who was also the university’s president prior to entering the White House. Other distinguished graduates include Michelle Obama, actors Jimmy Stewart and Brooke Shields, Amazon founder Jeff Bezos and Apollo astronaut Pete Conrad.Princeton, which is consistently ranked among the world’s top 10 universities, is renowned for its campus’ park-like beauty as well as some of its landmark buildings, designed by some of America’s most well-known architects. For instance, its Lewis Library was designed by Frank Gehry and contains many of the university’s science collections. Its McCarter Theatre Center has won a Tony Award for the best regional theatre in the country.Spread across 500 acres, the Princeton campus has about 180 buildings, including 10 libraries containing about 14 million holdings. It is popular with visitors, with about 800,000 people visiting its open campus each year, generating about $2 billion in revenue.The Princeton area, which has a population of about 30,000 residents, is also something of a destination itself, with many attracted by its tree-lined streets and wide variety of shops, restaurants and parks.The university is within easy reach of both New York City and Philadelphia, with the “Dinky” shuttle train providing a regular service lasting about one hour to both cities. Princeton regularly subsidises many student trips to concerts, plays and athletic events in the two cities.', 'https://www.princeton.edu/', 'New description']
<class 'pandas.core.series.Series'>
<class 'list'>
['6', 'Stanford University', 'Stanford University', 99.6, 97.3, 97.5, '16,963', '23%', 'Civil Engineering,Politics & International Studies (incl Development Studies),General Engineering,Sociology,Other Health,Computer Science,Chemical Engineering,Mathematics & Statistics,Art, Performing Arts & Design,Biological Sciences,Mechanical & Aerospace Engineering,Business & Management,Medicine & Dentistry,Geology, Environmental, Earth & Marine Sciences,Veterinary Science,History, Philosophy & Theology,Electrical & Electronic Engineering,Psychology,Accounting & Finance,Agriculture & Forestry,Archaeology,Education,Languages, Literature & Linguistics,Communication & Media Studies,Physics & Astronomy,Law,Economics & Econometrics,Chemistry', 'Stanford, United States', 'Stanford University has one of the largest campuses in the US and is one of the most prestigious universities in the world.It was established in 1885 and opened six years later as a co-educational and non-denominational private institution.Its location, less than an hour’s drive south of San Francisco next to Palo Alto, is in the heart of California’s Silicon Valley, and the university is known for its entrepreneurial spirit.This entrepreneurialism has its roots in the aftermath of the Second World War, when the provost encouraged innovation, resulting in a self-sufficient industry that would become Silicon Valley.By 1970, the university had a linear accelerator and hosted part of the early network that would become the technical foundation of the internet.The main campus spans 8,180 acres and is home to almost all the undergraduates who study at the university.There are 700 major university buildings housing 40 departments within the three academic schools and four professional schools, alongside 18 independent laboratories, centres and institutes.Stanford counts 21 Nobel laureates within its community, and numerous famous alumni associated with the university from the worlds of business, politics, media, sport and technology.The 31st\xa0president of the US, Herbert Hoover, was part of the very first class at Stanford, and received a degree in geology in 1895. Currently, Stanford is also one of the leading producers of US Congress members.The alumni include 30 living billionaires, 17 astronauts, 18 Turing Award recipients and two Fields Medallists.Google’s co-founders met at Stanford while pursuing doctorate degrees, although neither ultimately completed their theses.In total, companies founded by Stanford affiliates and alumni generate more than $2.7 trillion annual revenue, which would be the 10th\xa0largest economy in the world. These companies include Nike, Netflix, Hewlett-Packard, Sun Microsystems, Instagram, Snapchat, PayPal and Yahoo.The first American woman to go into space, Sally Ride, received an undergraduate degree in physics from Stanford in 1973. Just 10 years later, she made her ascent into space.In the five years leading up to 2012, the university embarked on a challenge to raise more than $4 billion. The fundraising exceeded this target and concluded the campaign having raised $6.2 billion, which will be used for more faculty appointments, graduate research fellowships and scholarships, and construction on 38 new or existing campus buildings.Some of the funds have already been used for large projects, including the world’s largest dedicated stem cell research facility, a new business school campus, a law school expansion, a new Engineering Quad, a campus concert hall and an art museum.Unofficially, the Stanford motto is a German quotation “Die Luft der Freiheit weht”, which translates as “the wind of freedom blows”.', 'https://www.stanford.edu/', 'New description']
<class 'pandas.core.series.Series'>
<class 'list'>
['7', 'California Institute of Technology', 'California Institute of Technology caltech', 97.3, 97.5, 95.2, '2,397', '32%', 'Biological Sciences,History, Philosophy & Theology,Mathematics & Statistics,Languages, Literature & Linguistics,Economics & Econometrics,General Engineering,Politics & International Studies (incl Development Studies),Electrical & Electronic Engineering,Chemistry,Chemical Engineering,Computer Science,Geology, Environmental, Earth & Marine Sciences,Mechanical & Aerospace Engineering,Business & Management,Physics & Astronomy,Civil Engineering', 'Pasadena, United States', 'The California Institute of Technology (Caltech) is a world-renowned science and engineering research and education institution, where extraordinary faculty and students seek answers to complex questions, discover new knowledge, lead innovation, and transform the future.Caltech has six academic divisions with a strong emphasis in science and technology teaching and research. The university has a competitive admissions process ensuring that only a small number of the most gifted students are admitted.Caltech has a high research output and alongside many high-quality facilities, both on campus and globally. This includes the Jet Propulsion Laboratory, the Caltech Seismological Laboratory and the International Observatory Network.The alumni and faculty of Caltech have been awarded 39 Nobel Prizes, one Fields Medal, six Turing Awards and 71 United States National Medal of Science or Technology. Four chief scientists of the US Air Force have also attended the institution.The campus is located in Pasadena, California, approximately 11 km away from downtown Los Angeles.  The school\'s official mascot is a beaver, paying tribute to nature\'s engineer.Caltech students are also well-known for playing pranks, with one of the most famous pranks including changing the "Hollywood" sign to read Caltech, by covering up parts of the letters.', 'https://www.caltech.edu/', 'New description']

In [51]:

new_df

,rank,name,aliases,scores_citations,scores_research,scores_teaching,stats_number_students,stats_pc_intl_students,subjects_offered,Location,Description,uni_url,New description
0,2,Massachusetts Institute of Technology,Massachusetts Institute of Technology,99.7,96.0,99.2,"11,836",33%,"Biological Sciences,Electrical & Electronic En...","Cambridge, United States",The Massachusetts Institute of Technology (MIT...,https://www.mit.edu/,New description
1,3,Harvard University,Harvard University,99.3,99.9,97.3,"22,584",25%,"Archaeology,Mathematics & Statistics,Art, Perf...","Cambridge, United States","Dating back to 1636, Harvard University is the...",https://www.harvard.edu/,New description
2,4,Princeton University,Princeton University,98.9,98.0,98.3,"8,378",23%,"Chemistry,Languages, Literature & Linguistics,...","Princeton, United States",Princeton is one of the oldest universities in...,https://www.princeton.edu/,New description
3,6,Stanford University,Stanford University,99.6,97.3,97.5,"16,963",23%,"Civil Engineering,Politics & International Stu...","Stanford, United States",Stanford University has one of the largest cam...,https://www.stanford.edu/,New description
4,7,California Institute of Technology,California Institute of Technology caltech,97.3,97.5,95.2,"2,397",32%,"Biological Sciences,History, Philosophy & Theo...","Pasadena, United States",The California Institute of Technology (Caltec...,https://www.caltech.edu/,New description

In [70]:
import pandas as pd
from langchain_groq import ChatGroq
from langchain.schema import SystemMessage, HumanMessage

# Set up Groq API
groq_api_key = os.getenv("GROQ_API_KEY")  # Replace with your actual Groq API key
llm = ChatGroq(model="llama-3.3-70b-specdec", temperature=0.7, groq_api_key=groq_api_key)

# Load CSV file
df = pd.read_csv("uni_with_description.csv")  # Ensure your CSV is correctly formatted
counter = 1

def expand_description(row):
    """Uses Groq LLM via LangChain to generate a detailed university description."""
    prompt = f"""
    Provide a detailed description for {row['name']} located in {row['Location']}.
    This university is ranked {row['rank']} globally.

    Key information:
    - Citations Score: {row['scores_citations']}
    - Research Score: {row['scores_research']}
    - Teaching Score: {row['scores_teaching']}
    - Student Population: {row['stats_number_students']}
    - International Students: {row['stats_pc_intl_students']}
    - Subjects Offered: {row['subjects_offered']}

    Write the response in a **formal and informative tone**, focusing on academic excellence, campus life, global reputation, and research impact.
    """
    print("Processing:")
    x  = list(row)
    response = llm.invoke([SystemMessage(content="You are an expert education consultant."), HumanMessage(content=prompt)])
    x.append(response.content)  

    return x

In [54]:
columns =list(df.columns)
columns.append("Expanded Description")
new_df = pd.DataFrame(columns=columns)
for i in range(50):
    x = expand_description(df.iloc[i,:])
    new_df.loc[len(new_df)] = x

Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:

In [60]:
for i in range(50,100):
    x = expand_description(df.iloc[i,:])
    new_df.loc[len(new_df)] = x

Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:

In [69]:
new_df

,rank,name,aliases,scores_citations,scores_research,scores_teaching,stats_number_students,stats_pc_intl_students,subjects_offered,Location,Description,uni_url,Expanded Description
0,2,Massachusetts Institute of Technology,Massachusetts Institute of Technology,99.7,96.0,99.2,"11,836",33%,"Biological Sciences,Electrical & Electronic En...","Cambridge, United States",The Massachusetts Institute of Technology (MIT...,https://www.mit.edu/,The Massachusetts Institute of Technology (MIT...
1,3,Harvard University,Harvard University,99.3,99.9,97.3,"22,584",25%,"Archaeology,Mathematics & Statistics,Art, Perf...","Cambridge, United States","Dating back to 1636, Harvard University is the...",https://www.harvard.edu/,"Harvard University, situated in the historic c..."
2,4,Princeton University,Princeton University,98.9,98.0,98.3,"8,378",23%,"Chemistry,Languages, Literature & Linguistics,...","Princeton, United States",Princeton is one of the oldest universities in...,https://www.princeton.edu/,"Located in the heart of Princeton, New Jersey,..."
3,6,Stanford University,Stanford University,99.6,97.3,97.5,"16,963",23%,"Civil Engineering,Politics & International Stu...","Stanford, United States",Stanford University has one of the largest cam...,https://www.stanford.edu/,"Stanford University, situated in the heart of ..."
4,7,California Institute of Technology,California Institute of Technology caltech,97.3,97.5,95.2,"2,397",32%,"Biological Sciences,History, Philosophy & Theo...","Pasadena, United States",The California Institute of Technology (Caltec...,https://www.caltech.edu/,The California Institute of Technology (Caltec...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,501–600,New Jersey Institute of Technology,New Jersey Institute of Technology,65.3,23.8,27.8,"9,987",25%,"History, Philosophy & Theology,Chemical Engine...","Newark, United States",NaN,\thttps://www.njit.edu,The New Jersey Institute of Technology (NJIT) ...
106,501–600,SUNY University at Albany,SUNY University at Albany,69.0,30.1,28.4,"15,145",6%,"Business & Management,Sociology,Politics & Int...","Albany, United States",NaN,\thttps://www.albany.edu,The State University of New York (SUNY) at Alb...
107,501–600,The University of Tulsa,The University of Tulsa,72.5,17.6,37.3,"3,853",11%,"Civil Engineering,Geology, Environmental, Eart...","Tulsa, United States",NaN,\thttps://utulsa.edu,"The University of Tulsa, situated in the heart..."
108,501–600,University of Arkansas,University of Arkansas,68.1,31.9,29.4,"26,280",4%,"Other Health,Communication & Media Studies,Acc...","Fayetteville, United States",NaN,\thttps://www.uark.edu,"The University of Arkansas, located in Fayette..."
109,501–600,Wayne State University,Wayne State University,72.0,21.8,38.5,"21,340",5%,"Accounting & Finance,Electrical & Electronic E...","Detroit, United States",Wayne State University (WSU) strives for “indu...,\thttps://wayne.edu,"Located in the vibrant city of Detroit, United..."

In [71]:
for i in range(110, len(df)):
    x = expand_description(df.iloc[i,:])
    new_df.loc[len(new_df)] = x

Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:
Processing:

In [78]:
with open("expanded_descriptions.txt", "w") as f:
    i=0
    for desc in new_df["Expanded Description"]:
        f.write("\n\n "+new_df["name"][i] + "\n")
        f.write(desc)
        f.write("\n\n\n")
        i+=1

In [79]:

# Save enriched CSV
new_df.to_csv("universities_enriched_long_description.csv", index=False)
print("Expanded descriptions generated successfully!")

Expanded descriptions generated successfully!

### Converting to json (better for RAG)

In [81]:

df = pd.read_csv("uni_with_description.csv")

#converting entire df to json
df.to_json("uni_with_description.json", orient="records")

In [82]:
with open("uni_with_description.json", "r", encoding='utf-8') as f:
    data = f.read()